body{
  background-color: #02010a;
  color: white;
  font-family: 'Dancing Script', cursive;
  max-width: 900px;
  margin: auto;
}
header{
  background-color: #5b7989;
  border-radius: 10px 0px 0px 0px;
  padding-left: 2%;
  width: 50%;
}
header h1{
  text-shadow: 2px 2px #02010a;
}

nav{
  background-color: #5b7989;
  border-radius: 0px 10px 0px 0px;
  outline-color: red;
  width: 48%;
  flex-direction: row-reverse;
}
nav > a{
  background-color: #5b7989;
  border-radius: 0px 10px 0px 0px;
  padding-right: 3%;
  text-align: right;
  color: white;
}
#activo {
  text-decoration: none;
  text-shadow: 2px 2px #02010a;
}

nav a:hover{
  text-shadow: 1px 1px #02010a;
}
.contenido_superior{
  max-width: 900px;
  background-color: #82c3a6;
  margin: 0 auto;
  text-align: center;
  vertical-align:middle;
}
.contenido_superior img{
  width: 94%;
  padding: 3%;
  margin: auto;
  /*-webkit-box-shadow: 5px 5px 20px #02010a;
  -moz-box-shadow: 5px 5px 20px #02010a;
  box-shadow:  5px 5px 20px #02010a;
*/
}

.imagenes_secundarias a img{
  background-color: #d5c75f;
  display: flex;
  flex-wrap:wrap;
  /*padding: 3%;*/
  margin: auto;
  /*-webkit-box-shadow: 5px 5px 20px #02010a;
  -moz-box-shadow: 5px 5px 20px #02010a;
  box-shadow:  5px 5px 20px #02010a;
*/

}
.imagenes_secundarias{
  width: 100%;
  margin: auto;
  display: flex;
  background-color: #d5c75f;
  padding: 0%;

}

.imagenes_secundarias_2{
  /*width: 23em;*/
  width: 90%;
  height: 85%;
  padding: 3%;
  margin auto;

}

#encabezado{
  display: flex;
  flex-wrap: wrap;

}
#contenido{
  width: 90%;
  margin: auto;
}
img{
  -webkit-box-shadow: 5px 5px 20px #02010a;
  -moz-box-shadow: 5px 5px 20px #02010a;
  box-shadow:  5px 5px 20px #02010a;
}
