body{
  background-color: #02010a;
  color: white;
  font-family: 'Dancing Script', cursive;
  display: flex;
}
header{
  background-color: #5b7989;
  border-radius: 10px 0px 0px 0px;
  padding-left: 2%;
  width: 50%;
  display: inline;
  float: left;
}
header h1{
  text-shadow: 2px 2px #02010a;
}

nav{
  background-color: #5b7989;
  border-radius: 0px 10px 0px 0px;
  outline-color: red;
  width: 48%;

}
nav > a{
  background-color: #5b7989;
  border-radius: 0px 10px 0px 0px;
  padding-right: 3%;
  text-align: right;
  float: right;
  display: inline-flex;
  color: white;
}
#activo {
  text-decoration: none;
  text-shadow: 2px 2px #02010a;
}

nav a:hover{
  text-shadow: 1px 1px #02010a;
}
#contenido_superior{
  //*clear: both;*//
  max-width: 900px;
  background-color: #82c3a6;
}
